<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar" id="navbar">
            <a href="javascript:void(0);" class="icon" id="navToggle">&#9776;</a>
            <a href={{ path("homepage") }}>Homepage</a>
            <a href={{ path("aboutus") }}>About Us</a>
            <button class='bx bx-moon' id="themeChange"></button>
            <label for="toggler" class="pplink">
                    <img class ="profilefoto" src={{ app.user ?  
                    path("profilePict", {name: app.user.getUsername()}) : path("profilePict", {name: "default"}) }} alt="">
            </label>
            <div class="wrapper">
                <input id="toggler" type="checkbox" class="invis">
                <div class="dropdown">
                    <a href={{ app.user ? path("app_logout") : path("app_login") }} >
                        {{app.user ? "Logout" : "Login"}}
                    </a>
                    <a href={{ app.user ? path('editUser') : path("app_register") }}>
                        {{ app.user ? "Edit Profile" : "Register"}}
                    </a>
                </div>
            </div>           
        </div>
        <br>
        {% if app.user %}
            <div class="mb-3"> 
                <p>Greetings {{ app.user.userIdentifier }} !</p>
                <a href={{ path("userpage") }}>userpage</a>
            </div>
        {% endif %}

        {% block body %}{% endblock %}

        <audio controls autoplay class="invis">
            <source src="{{ asset("music/audio.mp3") }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio> 


    

    
    </body>
</html>
