<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
			
        {% endblock %}
    </head>
    <body>
        <img width="150" height="200" 
        src={{ app.user ?  path("profilePict", {name: app.user.getUsername()})  : path("profilePict", {name: "default"}) }} alt="">
        <br>
        <a href={{ path("homepage") }}>Home</a>
        {% if app.user %}
            <div class="mb-3"> 
                <p>Greetings {{ app.user.userIdentifier }} !</p>
                <a href={{ path("userpage") }}>userpage</a>
            </div>
        {% endif %}
        {% block body %}{% endblock %}
        <a href={{ path("aboutus") }}>About us</a>
    </body>
</html>
